.sidebar {
  transition: width 0.3s;
}

.sidebar {
  width: 5rem;
  /* collapsed: 16 */
}

.content {
  transition: margin-left 0.3s;
  margin-left: 5rem;
  /* collapsed: 16 */
}

.sidebar:hover ~ .content {
  margin-left: 12rem;
  /* expanded: 48 */
}
